input{
    display: flex;
    border:2px solid orange;
    margin: 2px 0px 3px 2px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 30px;
}
.addbutton{
    margin-left: 2px;
    background-color: rgb(242, 121, 69);
    color: black;
}

.addbutton:hover{

    background-color: rgb(243, 158, 122);
    box-shadow: red 1px 1px 5px;

}