.toast{
    position: fixed;
    width: 15rem;
    top: 2rem;
    right: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.toast>span{
    position: absolute;
    right:2rem;
}

@keyframes slide{
   0% {
    transform: translateX(100%);
   } 
   50%{
    transform: translateX(0%);
   }
   100%{
    transform: translateX(100%);
   }
}