.dark{
    background-color: gray;
    color:white;
}

.container{
    border: 2px solid white;
    padding: 2px 2px 2px 2px;
    margin: 2px 3px 3px 2px;
    float: left;
    position: relative;
}
.pic img{
    max-width:  100%;
    max-height: 100%;
  }
.title{
    font-weight: bold;
    margin-bottom: 1em;
    color:white
  }
.channel, .views{
    font-size: small;
    color:#ccc;
    margin-bottom: 0.2em;
  }
  
.views span{
    padding: 0 0.5em;
  }
.close{
  display: flex;
  justify-content: center;
  align-items: center;
  width:  9px;
  height: 9px;
  position: absolute;
  right:4px;
}
.close:hover{
  border:2px solid rgb(234, 130, 130); 
  background-color: rgb(234, 68, 68)
}

.edit{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right:35px;
  color: white;
  width: 9px;
  height: 9px;
  top:2px
}

.edit:hover{
  background-color: rgb(234, 234, 164);
  opacity: 1;
  box-shadow: yellow 1px 0.5px 0.5px 1px;
}

