*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.App{
    background-color: #333;
    width: 100%;
    height:100vh;
  }

.testing{
  display: flex; 
  border: 2px solid brown; 
  width: 40px;
  height: 40px;
  align-items: center ;
justify-content: center;


}